.cookies-confirm {
    z-index: 15;
    position: fixed;
    top: 100vh;
    left: 0;
    display: flex;
    width: 100%;
    min-height: 93px;
    background-color: #212834;
    align-items: center;
    justify-content: space-between;
    visibility: visible;

}