.generate-qr-code__description {
    width: calc(100% - 200px);
    margin: 80px 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .generate-qr-code__description {
        width: 295px;
        flex-direction: column;
        margin: 132px 0 70px 15px;
        justify-content: start;
        align-items: flex-start;

    }
}