.eclipse_position_generate-qr-code {
    width: 1022px;
    height: 952px;
    left: calc((100% - 1022px)/2);
    top: -105px;
    border-radius: 476px;
    opacity: 0.15;
    transform: rotate(-0.55deg);
}

@media screen and (max-width: 1023px) {
    .eclipse_position_generate-qr-code {
        width: 309px;
        height: 288px;
        top: 349px;
        left: calc((100% - 309px)/2);
    }
}