.stores__app-store_size_big {
    width: 259px;
    height: 81px;
}

@media screen and (max-width: 767px) {
    .stores__app-store_size_big {
        width: 185px;
        height: 60px;
        object-fit: fill;
    }
}